body
{
	padding : 0px;
	margin : 0px;
}

select
{
	font-size : 20px;
}

#main
{
	float : right;
}

#sideTd
{
	/* 
	background-color : #87ceeb;
	*/
	vertical-align : top;
}

#timetableTd
{
	/*
	background-color : #98fb98;
	*/
}